/* Main Layout */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.video_wrap {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.video_wrap iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

#changelogText {
  width: 100%;
  height: 25vh;
  font-family: "Inter", sans-serif;
}

/* Chart Layout */
.tableframe {
  overflow: auto;
}

#tableDiff {
  width: 100%;
}

#tableDiff th {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 0.85em;
}

#tableDiff td {
  text-align: center;
  vertical-align: middle;
  font-size: 0.75em;
}

.text-nowrap {
  white-space: nowrap;
}

table.dataTable.display tbody tr.state1 {
  background-color: #a5ecfc;
}

table.dataTable.display tbody tr.state2 {
  background-color: #feffbb;
}

table.dataTable.display tbody tr.state3 {
  background-color: #cdeed9;
}

@media (prefers-color-scheme: dark) {
  table.dataTable.display tbody tr.state1 {
    background-color: #304549;
  }

  table.dataTable.display tbody tr.state2 {
    background-color: #4d4d38;
  }

  table.dataTable.display tbody tr.state3 {
    background-color: #4a554d;
  }
}

.text-secret {
  display: none;
}
